

<div class="primary-text">
    <div class="filter" >
        <Label >Search posts by title</Label>
        <input
            type ="text"
            placeholder="Enter title for search"
            [(ngModel)]="searchString"
        >
    
    </div>
    <ul *ngFor="let item of posts | postsFilter: searchString; " style="padding-top: 30px;">
        <li >  {{item.title}} </li>
        <li>   <img  [src]="louadImage(item.id)" style="width: 60%; height: 60%;" [routerLink]="['/posts', item.id]" > </li>        
       
    </ul>
 
</div>

