<div class="contents">
  <div >
   
    <ngb-carousel #ngcarousel>
      <ng-template ngbSlide *ngFor="let item of posts" >
      
        <div class="container">
          <div class="content has-text-centered">
              <h3 class="primary-text">{{item.title}}</h3>
            <p class="primary-text">
     
              <img  [src]="louadImage(item.id)"   class="caption" >
            </p>
            
      </div>

      </div>
         
     </ng-template>
  
     </ngb-carousel>
   
    

  </div>
</div>