
 <nav class="navbar">

  <div class="text-center ,btn-group ">
    <div class="btn-group"  (click)="openHomePage()"><Button>Home</Button></div>

      <div ngbDropdown class="d-inline-block">
        <button class="btn-group" id="dropdownBasic1" ngbDropdownToggle>Tags & Categories</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div class="btn-group"  (click)="openCategoriesEditor()"><Button ngbDropdownItem>Categories</Button></div>
          <br>
          <div class="btn-group" (click)="openTagsEditor()"><Button ngbDropdownItem>Tags</Button></div>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
      
    
   
      
      <div class="btn-group"  (click)="openPostsEditor()"><Button>Add post</Button></div>
      <div class="btn-group" (click)="openRegistrationForm()"><Button>Registration</Button></div>
      <div class="btn-group" (click)="openLoginForm()"><Button>Login</Button></div>


     
  </div>
  </nav>
  

  
   