<div class="primary-text"> 

    <div class="row" style="margin-bottom:15px;">
      <div class="col-md-3">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
      </div>
      <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0">
          {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
          {{message}}
        </span>
      </div>
    </div>

</div>

<input type="button" value="Add new post"  class="btn btn-success" (click)="add()" />

<ng-template #create>
  <div class="form-group">
      <label>Title </label>
      <input type="text" [(ngModel)]="post.title" class="form-control" />
      <label>Description</label>
      <input type="text" [(ngModel)]="category.description" class="form-control" />
  </div>
  <div>
      <input type="button" value="Save" (click)="save()" class="btn btn-success" />
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
  </div>
  
</ng-template>