<div class="primary-text" style="padding-top: 30px;" *ngIf="post">
    <h3>{{post.title}} </h3> <br>
    <p>  <img  [src]="louadImage(post.id)" class="image-prop" ></p>
    <p class="align-right"> Added at: {{post.addingDate | date:"short"}}</p>
    <p class="align-left"> <span *ngFor="let item of tags;" > #{{item.title}}; </span> </p>
 
        <button (click)="postLike()" [class.liked]="liked">Like </button>

</div>

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Comments</h4>
        <div class="card-body">
            <p  *ngFor="let comment of comments"> {{comment.text}} 
                <span class="span-right">{{comment.addingDate | date:"short"}}</span></p>

        </div>
        <div class="form-group">
            <label for="">Add your comment</label>
            <input class="form-control" name="text" [(ngModel)]="commentText"  #text="ngModel" required />        
            <div class="form-group">
                <button  class="btn btn-success" (click)="addComment()">Add</button>
            </div>
        </div>
    </div>
</div>

