<div>
<input type="button" value="Add new category"  class="btn btn-success" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead class="category">
        <tr>
            <td>Category title</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody class="category">
        <tr *ngFor="let t of categories">
            <ng-template [ngIf]="category?.id != t.id" [ngIfElse]="edit">
                
                <a ><td>{{t?.title}}</td></a>
                <button [routerLink]="['/categories/posts', t.id]">  Go to posts  </button>
                <td>{{t?.description}}</td>

                <td>
                    <button class="btn btn-sm btn-primary" (click)="editTag(t)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteTag(t.id)">Delete</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>
 

<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="category.title" class="form-control" />
        <input type="text" [(ngModel)]="category.description" class="form-control" />
    </td>
  
    <td>
        <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>
 

<ng-template #create>
    <div class="form-group" style="color:white  ">
        <label>Title </label>
        <input type="text" [(ngModel)]="category.title" class="form-control" />
        <label>Description</label>
        <input type="text" [(ngModel)]="category.description" class="form-control" />
    </div>
    <div>
        <input type="button" value="Save" (click)="save()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
    
</ng-template>
</div>