.container {
    height: 200vh;
    background: black;
    color: white;
    display: flex;
   
    min-height:10vh;
  
  }
  
  .item {
    width: auto;
    height: 100vh;
    flex-direction: column;
    display: flex;
   
  }
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }